<!-- <h2 class="footer">Footer</h2> -->
<footer class="footer">
  <div class="div-footer">
    <svg class="logo-svg" width="194" height="18">
      <use href="./img/icons.svg#icon-logo-big"></use>
    </svg>
    <p class="p-footer">
      Whether you're looking for a healthy snack or a thoughtful gift, our fruit
      baskets are the perfect choice.
    </p>
  </div>
  <div class="link-footer">
    <ul class="ul-footer">
      <li class="li-footer">
        <a class="footer-a" href="src/index.html">how it works</a>
      </li>
      <li class="li-footer">
        <a class="footer-a" href="">vegetables</a>
      </li>
      <li class="li-footer">
        <a class="footer-a" href="">reviews</a>
      </li>
    </ul>
  </div>
  <div class="footer-adress">
    <address>
      <ul class="ul-footer-add">
        <li class="li-footer-add">
          <a class="a-footer-add" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li class="li-footer-add">
          <a
            class="a-footer-add"
            href="https://maps.app.goo.gl/6SPoAwGACo6K2WVC6"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </li>
      </ul>
    </address>
  </div>
  <div class="footer-hero">
    <ul class="ul-privacy">
      <li class="li-privacy">
        <a class="a-privacy">Privacy Policy</a>
      </li>
      <li class="li-privacy">
        <a class="a-privacy">/</a>
      </li>
      <li class="li-privacy">
        <a class="a-privacy">Cookie settings</a>
      </li>
      <li class="li-privacy">
        <a class="a-privacy">©Green Harvest 2023</a>
      </li>
    </ul>
  </div>
</footer>
