<header class="header">
  <div class="header-container">
    <nav class="header-navigation">
      <ul class="header-logo-list">
        <li class="header-logo-item">
          <a class="header-logo-link" href=""> <svg class="header-logo-icon" width="16" height="16">
              <use class="header-logo-icon-link" href="../img/icons.svg#logo-icon-mob"></use>
            </svg></a>
        </li>
        <li class="header-logo-item">
          <a class="header-logo-link" href=""><svg class="header-logo-icon-text" width="148" height="12">
              <use class="header-logo-icon-link" href="../img/icons.svg#logo-text-mob"></use>
            </svg></a>
        </li>
      </ul>
      <ul class="header-navigation-list">
        <li class="header-navigation-list-item"><a class="header-list-item-link" href="">How It Works</a></li>
        <li class="header-navigation-list-item"><a class="header-list-item-link" href="">Vegetables</a></li>
        <li class="header-navigation-list-item"><a class="header-list-item-link" href="">Reviews</a></li>
      </ul>
    </nav>
    <button class="header-buy-btn" type="button">Shop now</button>
    <button class="menu-btn" type="button">
      <svg class="menu-icon" width="32" height="32">
        <use class="menu-link" href="../img/icons.svg#icon-menu-btn-mob"></use>
      </svg>
    </button>
  </div>
</header>