<header class="header">
  <div class="header-container">
    <nav class="header-navigation">
      <a class="header-logo-link" href="">
        <svg class="header-logo-icon">
          <use
            class="header-logo-icon-link"
            href="./img/icons.svg#icon-logo"
          ></use></svg
      ></a>
      <ul class="header-navigation-list">
        <li class="header-navigation-list-item">
          <a class="header-list-item-link scroll-to" href="#how-it-works"
            >How It Works</a
          >
        </li>
        <li class="header-navigation-list-item">
          <a class="header-list-item-link scroll-to" href="#vegetables"
            >Vegetables</a
          >
        </li>
        <li class="header-navigation-list-item">
          <a class="header-list-item-link scroll-to" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <button
      class="header-buy-btn scroll-to"
      onclick="scrollToSection()"
      type="button"
    >
      SHOP NOW
    </button>
    <button class="menu-btn" type="button" data-menu-open>
      <svg class="menu-icon">
        <use class="menu-link" href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <script>
    function scrollToSection() {
      const section = document.querySelector('#your-order');
      section.scrollIntoView({ behavior: 'smooth' });
    }
  </script>
</header>
