<header class="header">
  <div class="header-container">
    <nav class="header-navigation">
      <a class="header-logo-link" href=""> <svg class="header-logo-icon">
          <use class="header-logo-icon-link" href="../img/icons.svg#icon-logo"></use>
        </svg></a>
      <ul class="header-navigation-list">
        <li class="header-navigation-list-item"><a class="header-list-item-link" href="">How It Works</a></li>
        <li class="header-navigation-list-item"><a class="header-list-item-link" href="">Vegetables</a></li>
        <li class="header-navigation-list-item"><a class="header-list-item-link" href="">Reviews</a></li>
      </ul>
    </nav>
    <button class="header-buy-btn" type="button">SHOP NOW</button>
    <button class="menu-btn" type="button">
      <svg class="menu-icon">
        <use class="menu-link" href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>