<div class="menu-backdrop menu-is-open">
  <div class="menu-container menu-section">
    <div>
      <button type="button" class="menu-close-btn">
        <svg class="menu-close-icon" aria-label="menu-close">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="menu-nav">
        <ul class="menu-nav-list">
          <li class="menu-nav-item"><a class="menu-nav-link-one menu-nav-link" href="#how-it-works">How It
              Works</a>
          </li>
          <li class="menu-nav-item"><a class="menu-nav-link-two menu-nav-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="menu-nav-item"><a class="menu-nav-link-free menu-nav-link" href="#reviews">Reviews</a></li>
        </ul>
      </nav>
    </div>
    <button class="menu-bottom-btn" type="button">
      Shop now
    </button>
  </div>
</div>