<div class="menu-backdrop" data-menu>
  <div class="menu-container">
    <button type="button" class="menu-close-btn" data-menu-close>
      <svg class="menu-close-icon" aria-label="menu-close">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="menu-nav">
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a class="menu-nav-link scroll-to" href="#how-it-works"
            >How It Works</a
          >
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link scroll-to" href="#vegetables">Vegetables</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link scroll-to" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <a class="menu-bottom-btn scroll-to" href="#your-order">Shop now</a>
  </div>
</div>
