<h2 class="menu">Menu</h2>

<div class="backdrop">
    <div class="container section">
        <div>
            <button type="button" class="menu-close-btn">
                <svg class="menu-close-icon" aria-label="menu-close">
                    <use href="./img/icons.svg#icon-close"></use>
                </svg>
            </button>
            <nav class="menu-nav">
                <ul class="menu-nav-list">
                    <li class="menu-nav-item"><a class="menu-nav-link" href="#">How It Works</a></li>
                    <li class="menu-nav-item"><a class="menu-nav-link" href="#">Vegetables</a></li>
                    <li class="menu-nav-item"><a class="menu-nav-link" href="#">Reviews</a></li>
                </ul>
            </nav>
        </div>
        <button class="menu-bottom-btn">
            Shop now
        </button>
    </div>
</div>