<section id="reviews" class="reviews-section">
  <div class="container">
    <h2 class="reviews-header">
      reviews from our
      <span class="text-coloured">customers</span>
    </h2>
    <p class="reviews-paragraph">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <ul class="reviews-list">
      <li class="reviews">
        <picture class="reviews-image">
          <source
            media="(max-width: 767px )"
            type="image/webp"
            srcset="./img/john-mob-1x.webp 1x, ./img/john-mob-2x.webp 2x"
          />
          <source
            media="(max-width: 767px )"
            type="image/jpeg"
            srcset="./img/john-mob-1x.jpg 1x, ./img/john-mob-2x.jpg 2x"
          />
          <source
            media="(min-width: 768px )"
            type="image/webp"
            srcset="./img/john-tab-1x.webp 1x, ./img/john-tab-2x.webp 2x"
          />
          <source
            media="(min-width: 768px )"
            type="image/jpeg"
            srcset="./img/john-tab-1x.jpg 1x, ./img/john-tab-2x.jpg 2x"
          />
          <source
            media="(min-width: 1280px )"
            type="image/webp"
            srcset="
              ./img/john-desktop-1x.webp 1x,
              ./img/john-desktop-2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px )"
            type="image/jpeg"
            srcset="./img/john-desktop-1x.jpg 1x, ./img/john-desktop-2x.jpg 2x"
          />
          <img
            src="./img/john-desktop-1x.jpg"
            alt="John review"
            loading="lazy"
            width="56"
          />
        </picture>
        <h2 class="reviews-subheader">John Wax</h2>
        <p class="reviews-subparagraph">
          These vegetables are my secret to delicious and healthy meals. The
          quality is always at the highest level, the aroma and taste are
          enchanting. I advise every fan of real products!
        </p>
      </li>
      <li class="reviews">
        <picture class="reviews-image">
          <source
            media="(max-width: 767px )"
            type="image/webp"
            srcset="
              ./img/victoria-tab-1x.webp 1x,
              ./img/victoria-tab-2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px )"
            type="image/jpeg"
            srcset="./img/victoria-tab-1x.jpg 1x, ./img/victoria-tab-2x.jpg 2x"
          />
          <source
            media="(min-width: 768px )"
            type="image/webp"
            srcset="
              ./img/victoria-tab-1x.webp 1x,
              ./img/victoria-tab-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px )"
            type="image/jpeg"
            srcset="./img/victoria-tab-1x.jpg 1x, ./img/victoria-tab-2x.jpg 2x"
          />
          <source
            media="(min-width: 1280px )"
            type="image/webp"
            srcset="
              ./img/victoria-desktop-1x.webp 1x,
              ./img/victoria-desktop-2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px )"
            type="image/jpeg"
            srcset="
              ./img/victoria-desktop-1x.jpg 1x,
              ./img/victoria-desktop-2x.jpg 2x
            "
          />
          <img
            src="./img/victoria-desktop-1x.jpg"
            alt="Victoria review"
            loading="lazy"
            width="56"
          />
        </picture>
        <h2 class="reviews-subheader">Victoria Romashenko</h2>
        <p class="reviews-subparagraph">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </li>
      <li class="reviews">
        <picture class="reviews-image">
          <source
            media="(max-width: 767px )"
            type="image/webp"
            srcset="
              ./img/ihor-desktop-1x.webp 1x,
              ./img/ihor-desktop-2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px )"
            type="image/jpeg"
            srcset="./img/ihor-desktop-1x.jpg 1x, ./img/ihor-desktop-2x.jpg 2x"
          />
          <source
            media="(min-width: 768px )"
            type="image/webp"
            srcset="
              ./img/ihor-desktop-1x.webp 1x,
              ./img/ihor-desktop-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px )"
            type="image/jpeg"
            srcset="./img/ihor-desktop-1x.jpg 1x, ./img/ihor-desktop-2x.jpg 2x"
          />
          <source
            media="(min-width: 1280px )"
            type="image/webp"
            srcset="
              ./img/ihor-desktop-1x.webp 1x,
              ./img/ihor-desktop-2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px )"
            type="image/jpeg"
            srcset="./img/ihor-desktop-1x.jpg 1x, ./img/ihor-desktop-2x.jpg 2x"
          />
          <img
            src="./img/ihor-desktop-1x.jpg"
            alt="Ihor review"
            loading="lazy"
            width="56"
          />
        </picture>
        <h2 class="reviews-subheader">Ihor Trachuk</h2>
        <p class="reviews-subparagraph">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </li>
    </ul>
  </div>
</section>
