<section class="section4">
  <div class="container section">
    <h2 id="vegetables" class="section4-title">organic <span class="section4-title-part">vegetables</span></h2>
    <p class="section4-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="section4-list">
      <li class="section4-item">
        <div class="section4-cover">
          <h3 class="section4-subtitle">eggplant</h3>
          <p class="section4-desc">60 UAH / kg</p>
          <picture>
            <source media="(max-width: 767px )" type="image/webp" srcset="
                ./img/eggplant-mob-1x.webp 1x,
                ./img/eggplant-mob-2x.webp 2x" />
            <source media="(max-width: 767px )" type="image/jpeg"
              srcset="./img/eggplant-mob.png 1x, ./img/eggplant-mob-2x.png 2x" />
            <source media="(min-width: 768px )" type="image/webp" srcset="
                ./img/eggplant-tab-1x.webp 1x,
                ./img/eggplant-tab-2x.webp 2x" />
            <source media="(min-width: 768px )" type="image/jpeg"
              srcset="./img/eggplant-tab.png 1x, ./img/eggplant-tab-2x.png 2x" />
            <source media="(min-width: 1280px )" type="image/webp" srcset="
                ./img/eggplant-desk-1x.webp 1x,
                ./img/eggplant-desk-2x.webp 2x" />
            <source media="(min-width: 1280px )" type="image/jpeg"
              srcset="./img/eggplant-desk.png 1x, ./img/eggplant-desk-2x.png 2x" />
            <img src="./img/eggplant-desk.png" 
            class="section4-picture" 
            alt="Eggplant" 
            loading="lazy" 
            width="282" />
          </picture>
        </div>
      </li>
      <li class="section4-item">
        <div class="section4-cover">
          <h3 class="section4-subtitle">leek</h3>
          <p class="section4-desc">50 UAH / kg</p>
          <picture>
            <source media="(max-width: 767px )" type="image/webp"
              srcset="./img/leek-mob-1x.webp 1x, ./img/leek-mob-2x.webp 2x" />
            <source media="(max-width: 767px )" type="image/jpeg"
              srcset="./img/leek-mob.png 1x, ./img/leek-mob-x2.png 2x" />
            <source media="(min-width: 768px )" type="image/webp"
              srcset="./img/leek-tab-1x.webp 1x, ./img/leek-tab-2x.webp 2x" />
            <source media="(min-width: 768px )" type="image/jpeg"
              srcset="./img/leek-tab.png 1x, ./img/leek-tab-2x.png 2x" />
            <source media="(min-width: 1280px )" type="image/webp"
              srcset="./img/leek-desk-1x.webp 1x, ./img/leek-desk-2x.webp 2x" />
            <source media="(min-width: 1280px )" type="image/jpeg"
              srcset="./img/leek-desk.png 1x, ./img/leek-desk-2x.png 2x" />
            <img src="./img/leek-desk.png" class="section4-picture" alt="Leek" loading="lazy" width="282" />
          </picture>
        </div>
      </li>
      <li class="section4-item">
        <div class="section4-cover">
          <h3 class="section4-subtitle">mushrooms</h3>
          <p class="section4-desc">40 UAH / kg</p>
          <picture>
            <source media="(max-width: 767px )" type="image/webp" srcset="
                ./img/mushrooms-mob-1x.webp 1x,
                ./img/mushrooms-mob-2x.webp 2x
              " />
            <source media="(max-width: 767px )" type="image/jpeg"
              srcset="./img/mushrooms-mob.png 1x, ./img/mushrooms-mob-2x.png 2x" />
            <source media="(min-width: 768px )" type="image/webp" srcset="
                ./img/mushrooms-tab-1x.webp 1x,
                ./img/mushrooms-tab-2x.webp 2x
              " />
            <source media="(min-width: 768px )" type="image/jpeg"
              srcset="./img/mushrooms-tab.png 1x, ./img/mushrooms-tab-2x.png 2x" />
            <source media="(min-width: 1280px )" type="image/webp" srcset="
                ./img/mushrooms-desk-1x.webp 1x,
                ./img/mushrooms-desk-2x.webp 2x
              " />
            <source media="(min-width: 1280px )" type="image/jpeg" srcset="
                ./img/mushrooms-desk.png    1x,
                ./img/mushrooms-desk-2x.png 2x
              " />
            <img src="./img/mushrooms-desk.png" class="section4-picture" alt="Mushrooms" loading="lazy" width="282" />
          </picture>
        </div>
      </li>
      <li class="section4-item">
        <div class="section4-cover">
          <h3 class="section4-subtitle">corn</h3>
          <p class="section4-desc">60 UAH / kg</p>
          <picture>
            <source media="(max-width: 767px )" type="image/webp"
              srcset="./img/corn-mob-1x.webp 1x, ./img/corn-mob-2x.webp 2x" />
            <source media="(max-width: 767px )" type="image/jpeg"
              srcset="./img/corn-mob.png 1x, ./img/corn-mob-2x.png 2x" />
            <source media="(min-width: 768px )" type="image/webp"
              srcset="./img/corn-tab-1x.webp 1x, ./img/corn-tab-2x.webp 2x" />
            <source media="(min-width: 768px )" type="image/jpeg"
              srcset="./img/corn-tab.png 1x, ./img/corn-tab-2x.png 2x" />
            <source media="(min-width: 1280px )" type="image/webp"
              srcset="./img/corn-desk-1x.webp 1x, ./img/corn-desk-2x.webp 2x" />
            <source media="(min-width: 1280px )" type="image/jpeg"
              srcset="./img/corn-desk.png 1x, ./img/corn-desk-2x.png 2x" />
            <img src="./img/corn-desk.png" class="section4-picture" alt="Corn" loading="lazy" width="282" />
          </picture>
        </div>
      </li>
      <li class="section4-item">
        <div class="section4-cover">
          <h3 class="section4-subtitle">sweet potatoes</h3>
          <p class="section4-desc">50 UAH / kg</p>
          <picture>
            <source media="(max-width: 767px )" type="image/webp" srcset="
                ./img/potatoes-mob-1x.webp 1x,
                ./img/potatoes-mob-2x.webp 2x
              " />
            <source media="(max-width: 767px )" type="image/jpeg"
              srcset="./img/potatoes-mob.png 1x, ./img/potatoes-mob-2x.png 2x" />
            <source media="(min-width: 768px )" type="image/webp" srcset="
                ./img/potatoes-tab-1x.webp 1x,
                ./img/potatoes-tab-2x.webp 2x
              " />
            <source media="(min-width: 768px )" type="image/jpeg"
              srcset="./img/potatoes-tab.png 1x, ./img/potatoes-tab-2x.png 2x" />
            <source media="(min-width: 1280px )" type="image/webp" srcset="
                ./img/potatoes-desk-1x.webp 1x,
                ./img/potatoes-desk-2x.webp 2x
              " />
            <source media="(min-width: 1280px )" type="image/jpeg"
              srcset="./img/potatoes-desk.png 1x, ./img/potatoes-desk-2x.png 2x" />
            <img src="./img/potatoes-desk.png" class="section4-picture" alt="Sweet potatoes" loading="lazy"
              width="282" />
          </picture>
        </div>
      </li>
      <li class="section4-item">
        <div class="section4-cover">
          <h3 class="section4-subtitle">carrot</h3>
          <p class="section4-desc">40 UAH / kg</p>
          <picture>
            <source media="(max-width: 767px )" type="image/webp"
              srcset="./img/carrot-mob-1x.webp 1x, ./img/carrot-mob-2x.webp 2x" />
            <source media="(max-width: 767px )" type="image/jpeg"
              srcset="./img/carrot-mob.png 1x, ./img/carrot-mob-2x.png 2x" />
            <source media="(min-width: 768px )" type="image/webp"
              srcset="./img/carrot-tab-1x.webp 1x, ./img/carrot-tab-2x.webp 2x" />
            <source media="(min-width: 768px )" type="image/jpeg"
              srcset="./img/carrot-tab.png 1x, ./img/carrot-tab-2x.png 2x" />
            <source media="(min-width: 1280px )" type="image/webp" srcset="
                ./img/carrot-desk-1x.webp 1x,
                ./img/carrot-desk-2x.webp 2x
              " />
            <source media="(min-width: 1280px )" type="image/jpeg"
              srcset="./img/carrot-desk.png 1x, ./img/carrot-desk-2x.png 2x" />
            <img src="./img/carrot-desk.png" class="section4-picture" alt="Carrot" loading="lazy" width="282" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>