.footer {
  background-color: #7A3145;
  padding: 40px 20px;
}

.footer-logo-svg {
  fill: #fbfbfb;
  width: 168px;
  height: 16px;
}

.p-footer {
  color: #FBFBFB;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding-right: 59px;
  margin-top: 14px;
  width: 296px;
}

.ul-footer {
  display: inline-grid;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
}

.ul-footer-links {
  display: inline-grid;
  gap: 14px;
}

.li-footer {
  color: #FBFBFB;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.42px;
  text-wrap: nowrap;
}

.ul-footer-add {
  display: inline-grid;
  gap: 14px;
}

.li-footer-add {
  color: #FBFBFB;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.21px;
}

.footer-ul-privacy {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 49px;
}

.footer-li-privacy {
  color: rgba(251, 251, 251, 0.50);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.18px;
}

@media screen and (min-width:768px) {
  .footer {
    padding: 32px;
  }

  .footer-logo-svg {
    width: 194px;
    height: 18px;
  }

  .p-footer {
    margin-top: 25px;
    width: 265px;
    padding-right: 10px;
  }

  .ul-footer {
    display: inline-grid;
    gap: 64px;
    margin: 0;
  }

  .li-footer {
    font-size: 32px;
    letter-spacing: -0.48px;
    line-height: 32px;
  }

  .ul-footer-links {
    gap: 25px;
  }

  .ul-footer-add {
    gap: 25px;
  }

  .footer-ul-privacy {
    gap: 284px;
    margin: 0;
  }

  .footer-li-privacy {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.27px;
    margin-top: 100px;
  }

  .footer-main-ul {
    display: flex;
    gap: 224px;
  }
}

@media screen and (min-width:1280px) {
  .footer {
    padding: 50px 100px;
  }

  .footer-logo-svg {
    width: 168px;
    height: 15px;
  }

  .p-footer {
    font-size: 16px;
    line-height: 20px;
  }

  .footer-main-ul {
    gap: 302px;
  }

  .ul-footer {
    display: flex;
    gap: 121px;
  }

  .ul-footer-add {
    margin-top: 0px;
  }

  .footer-ul-privacy {
    gap: 660px;
  }

  .footer-li-privacy {
    margin-top: 125px;
  }
}