.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  width: 100vh;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7a3145;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  justify-content: flex-start;
}

.menu-nav-list {
  padding-top: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.menu-close-btn {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.menu-close-icon {
  width: 32px;
  height: 32px;
  stroke: #ffffff;
}

.menu-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #fbfbfb;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.4);
  background-color: transparent;
  cursor: pointer;
  width: 115px;
  height: 42px;
}

.menu-nav-link {
  display: block;
}

.menu-nav-item:hover,
.menu-nav-item:focus {
  color: #7a3145;

  background-color: #fbfbfb;
}

.menu-nav-item:active {
  color: rgba(122, 49, 69, 0.7);
}

.menu-bottom-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 0;
  width: 155px;
  height: 50px;

  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.285;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #fbfbfb;

  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  background-color: transparent;
}

.menu-bottom-btn:hover,
.menu-bottom-btn:focus {
  color: #7a3145;
  background-color: #fbfbfb;
}

.menu-bottom-btn:active {
  color: rgba(122, 49, 69, 0.7);
}

@media screen and (min-width: 375px) {
  .menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.4);
  }

  .menu-container {
    width: 100vw;
    height: 100svh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    left: 50%;
    transform: translate(-50%) scale(1);

    background-color: #7a3145;
  }
}

@media screen and (min-width: 768px) {
  .menu-close-btn {
    right: 32px;
    top: 32px;
  }

  .menu-close-icon {
    width: 40px;
    height: 40px;
  }

  .menu-bottom-btn {
    width: 157px;
    height: 52px;

    font-size: 18px;
    line-height: 1.111;
    letter-spacing: -0.015em;
  }

  .menu-container {
    width: 351px;
    left: 100%;
    transform: translate(-100%);
    padding-bottom: 50px;
  }

  .menu-nav-list {
    padding-top: 360px;
    gap: 8px;
  }

  .menu-nav-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.02em;
    width: 120px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-backdrop {
    display: none;
  }
}
