.your-order-container {
  background-color: #7a3145;
}

.order-top-container {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-bottom: 40px;
}

.your-order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.harvest-span {
  color: rgba(251, 251, 251, 0.3);
}

.your-order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}

.order-bottom-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.your-order-form {
  border-radius: 30px;
  padding: 40px 20px;
  max-width: 335px;
  max-height: 639px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
}

/* .your-order-form:not(:last-child) {
  gap: 15px;
} */

.form-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}

.from-us-span {
  color: #7a3145;
}

.the-form-span {
  color: #576f35;
}

.form-label {
}

.form-input {
  border: 1px solid rgba(20, 20, 20, 0.2);
  outline: transparent;
  border-radius: 30px;
  padding: 14px 16px;
  width: 100%;
  height: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: inherit;
  margin-bottom: 15px;
}

.form-input:hover,
.form-input:focus {
  border-color: #7a3145;
}

.form-input:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}

.form-input:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}

/* .text-valid,
.text-invalid {
  font-size: 14px;
  padding-left: 20px;
  margin-top: 4px;
  display: none;
}

.text-valid {
  color: green;
}

.text-invalid {
  color: red;
} */

input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: left;
  color: inherit;
}

.form-input:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}

.form-input:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.textarea-label {
}

.form-textarea {
  border: 1px solid rgba(20, 20, 20, 0.2);
  outline: transparent;
  border-radius: 15px;
  padding: 14px 16px; /**needs correction*/
  width: 100%;
  height: 91px;
  resize: none;
  margin-bottom: 20px;
}

textarea::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: left;
  color: inherit;
}

.form-textarea:active,
.form-textarea:hover,
.form-textarea:focus {
  border-color: #7a3145;
}

.form-btn {
  border-radius: 30px;
  /* padding: 16px 129px; */
  width: 100%;
  height: 50px;
  background-color: #576f35;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  border: none;
  cursor: pointer;
}

.socials-container {
  background-color: #576f35;
  padding: 40px 20px;
  border-radius: 30px;
  max-width: 335px;
  max-height: 465px;
}

.socials-image {
  display: block;
  border-radius: 15px;
  width: 100%;
  height: 273px;
  margin-bottom: 20px;
}

.socials-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 14px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
}

.socials-item {
}

.socials-item:not(:last-child) {
  display: block;
  margin-bottom: 8px;
}

.socials-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

/* Tablet */

@media (min-width: 768px) {
  .your-order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .order-top-container {
    padding-left: 32px;
    padding-right: 96px;
    gap: 25px;
    margin-bottom: 50px;
  }

  .your-order-title {
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  .your-order-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .order-bottom-container {
    padding: 0 70px;
  }

  .your-order-form {
    max-width: 628px;
    width: 100%;
    max-height: 534px;
    padding: 50px 100px;
  }

  .form-text {
    margin-bottom: 50px;
  }

  .form-input {
    height: 52px;
  }

  .form-textarea {
    margin-bottom: 25px;
  }

  .form-btn {
    height: 52px;
  }

  .socials-container {
    max-width: 628px;
    width: 100%;
    max-height: 490px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .socials-image {
    width: 100%;
    margin-bottom: 50px;
  }

  .socials-text {
    font-size: 18px;
  }

  .socials-item:not(:last-child) {
    display: block;
    margin-bottom: 0px;
  }

  .socials-link {
    font-size: 32px;
    line-height: 1;
  }
}

/* Desktop */

@media (min-width: 1280px) {
  .order-top-container {
    display: flex;
    align-self: start;
    max-width: 750px;
    padding: 0;
    gap: 25px;
    margin-bottom: 50px;
  }

  .your-order-title {
    text-align: start;
  }

  .order-bottom-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0;
  }

  .your-order-form {
    width: calc((100%-24px) / 2);
    max-height: 534px;
    padding: 50px;
  }

  .socials-container {
    width: calc((100%-24px) / 2);
    max-height: 534px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .socials-text {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    margin-bottom: 15px;
  }

  .socials-item:not(:last-child) {
    display: block;
    margin-bottom: 12px;
  }
}
