.section4 {
  background: #7a3145;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section4-title {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  max-width: 335px;
  padding-bottom: 20px;
}

.section4-title-part {
  color: rgba(251, 251, 251, 0.3);
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  max-width: 335px;
}

.section4-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  max-width: 335px;
  padding-bottom: 40px;
}

.section4-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section4-item {
  border-radius: 40px;
  background: #fbfbfb;
  width: 100%;
}

.section4-cover {
  position: relative;
  overflow: hidden;
  padding: 32px 26px;
}

.section4-subtitle {
  color: #7a3145;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  padding-bottom: 12px;
}

.section4-desc {
  color: #141414;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  padding-bottom: 14px;
}

.section4-picture {
  object-fit: cover;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .section4-title {
    max-width: 508px;
    font-size: 64px;
    line-height: 1;
    padding-bottom: 25px;
  }

  .section4-title-part {
    font-size: 64px;
    line-height: 1;
  }

  .section4-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 626px;
    padding-bottom: 50px;
  }

  .section4-subtitle {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.015em;
  }

  .section4-desc {
    padding-bottom: 10px;
  }

  .section4-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 20px;
  }

  .section4-item {
    width: calc((100% - 20px) / 2);
  }

  .section4-cover {
    padding: 32px 30px;
  }
}

/* Desktop */

@media screen and (min-width: 1280px) {
  .section4-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 20px;
  }

  .section4-item {
    width: calc((100% - 40px) / 3);
  }

  .section4-cover {
    padding: 32px 32px;
  }
}
