.background-section2 {
  background: linear-gradient(to bottom, #7a3145 45%, #576f35 45%);
}
.container-section2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.container-red {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7a3145;
}

.container-green {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #576f35;
}

.how-picture {
  border-radius: 30px;
}

.steps-text {
  margin-bottom: 20px;
  color: #fbfbfb;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.steps-text > span {
  color: rgba(251, 251, 251, 0.3);
}

.steps-paragraph {
  margin-bottom: 40px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.steps-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.steps-items {
  border-radius: 15px;
  background-color: #fbfbfb;
  padding: 12px 27px 12px 24px;
  height: 76px;
  position: relative;
  line-height: 1;
  counter-increment: steps-items;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.steps-items::before {
  content: counter(steps-items);
  position: absolute;
  left: 24px;
  top: 17px;
  width: 42px;
  height: 42px;
  outline: 5px solid rgba(122, 49, 69, 0.3);
  border-radius: 50%;
  background-color: #7a3145;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 20px;
}

.steps-items-paragraph {
  color: rgba(20, 20, 20, 0.6);
  font-family: 'Inter Tight';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;
  max-width: 190px;
}

.step-items-duo {
  max-width: 160px;
}

.steps-items-paragraph > span {
  color: #141414;
  font-weight: 700;
}

@media screen and (min-width: 375px) {
  .container-section2 {
    width: 375px;
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  .background-section2 {
    background: linear-gradient(to bottom, #7a3145 55%, #576f35 45%);
  }
  .container-section2 {
    width: 768px;
  }

  .container-red {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-green {
    padding-left: 159px;
    padding-right: 159px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .how-picture {
    width: 640px;
  }

  .steps-container {
    max-width: 450px;
    /* margin: 0 auto; */
  }

  .steps-text {
    margin-bottom: 20px;
    color: #fbfbfb;
    font-size: 32px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
  }

  .steps-paragraph {
    margin-bottom: 40px;
    color: #fbfbfb;
    font-size: 16px;
    line-height: 1.25;
  }

  .steps-items-paragraph {
    color: rgba(20, 20, 20, 0.6);
    font-size: 16px;
    line-height: 1.25;
    max-width: 300px;
  }

  .step-items-duo {
    max-width: 300px;
  }
}

/* Desktop */

@media screen and (min-width: 1280px) {
  .background-section2 {
    background: linear-gradient(to right, #7a3145 50%, #576f35 50%);
  }
  .container-section2 {
    width: 1280px;
    flex-direction: row;
  }
  .container-red {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-green {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 160px;
  }

  .how-picture {
    height: 559px;
  }

  .container-picture {
    width: 430px;
    height: 559px;
  }
}
