.advertisement.section {
  background: #fbfbfb;
}

.advertisement.section .container {
  padding: 0 10px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.discount {
  display: block;
  padding: 3px 10px;
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  border-radius: 12px;
  background-color: #576f35;
}

.text {
  display: block;
  padding: 0 10px;
  color: #141414;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  
}

@media screen and (min-width: 768px) {
  .advertisement.section .container {
    padding: 0 16px;
  }

  .discount {
    padding: 8px 16px;
    font-size: 64px;
    line-height: 1.09;
  }

  .text {
    padding: 0 16px;
    font-size: 64px;
    line-height: 1.09;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement.section .container {
    padding: 0 100px;
  }

  .discount {
    display: inline-block;
    padding: 0 13px;
    font-size: 76px;
    line-height: 1.05;
  }
    


  .text {
    display: inline-block;
    padding: 0 13px;
    font-size: 76px;
    line-height: 1.05;
  
  }
}
