/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./global.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./section1-hero.css');
@import url('./section2-how-it-works.css');
@import url('./section3-advertisement.css');
@import url('./section4-vegetables.css');
@import url('./section5-reviews.css');
@import url('./section6-your-order.css');
@import url('./footer.css');
@import url('./menu-window-mob-tab.css');

:root {
  font-family: Inter Tight, sans-serif;

  color: #141414;
  background-color: #fbfbfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
